@font-face {
    font-family:'Happy' ;
    src: url('./fonts/EliceDigitalBaeum_Regular.woff') format('woff');
}

*{
    font-family: 'Happy';
}

body{
    background-color:#fff9aa;
    letter-spacing: -0.5px;
    font-family: 'Happy';
}
article{
    display: flex;
    flex-direction: column;
}
#title{
    margin-bottom: 40px;
}

/* .wrapper{
    width: 650px;
    height: 450px;
    padding-top: 50px;
    margin:0 auto;
    padding-left: 5px;
    padding-right:15px;
    text-align: center; 
} */

#img2{
    width: 100%;
    height: auto;
    max-width: 650px;
    padding-top: 50px;
    margin:0 auto;
    padding-left: 5px;
    padding-right:15px;
    display: block;

}

.qnaimg{
    width: 100%;
    height: 500;
    max-width: 700px;
    padding-top: 10px;
    margin:0 auto;
    padding-left: 5px;
    padding-right:15px;
    display: block;
}

#img{
    
    width: 400px;
    height: 500px;
    padding-top: 50px;
    margin:0 auto;
    padding-left: 5px;
    padding-right:15px;
}

#extra_cj{
    padding-top: 35px;
}

.main-title{
    color: #000000;
}

.question{
    display: none;
}
/* .label{
    height: 100%;
    border-radius: 20px;
    text-align: center;
    color:black;
    font-size: 19px;
  } */
.result{
    display: none;
}
/* result창 share button 가운데 정렬 */
.share{
    margin:0 auto;
}
.button{
    /* width: 400px;
    height:100px; */
    border-radius: 4px;
    margin:100px;
    padding: 1rem 1rem;
    background-color: #fff9aa;
    border-color: #000000;
    color: #1c1c1c;
    font-weight: 600;
    text-align: center;
}

.button:active,
.button:hover,
.button:focus {
    background: var(--button-hover-bg-color);
    outline: 0;
    background-color: #ffee7f;
    border-color:none;
}
.button:disabled {
  opacity: 0.5;
}
.butt{
    border-radius: 4px;
    margin:100px;
    padding: 1rem 1rem;
    background-color: #fff9aa;
    border-color: #000000;
    color: #1c1c1c;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
} 
.butt:active,
.butt:hover,
.butt:focus {
    background: var(--button-hover-bg-color);
    outline: 0;
    background-color: #ffee7f;
    border-color:none;
}
.butt:disabled {
  opacity: 0.5;
}
/* 버튼 마우스 오버 effect */
.btn {
	position: block;
	background-color: #ffffff;
	border-color: #ffffff;
	color: rgb(51, 51, 51);
    
    padding-top: 20px;
    padding-bottom: 20px;
	cursor: default;  
}
.btn:hover{
	background-color: #ffee7f;
}
.btn:active, .btn:focus{
    border: none !important;
    box-shadow: none !important;
}
/* .btn:active{
    background-color: #ffee7f;
}
.btn:visited{
    background-color: #f1f1f1;
	border-color: #f1f1f1;
    color: #333;
} 
.btn:disabled {
    opacity: 0.3;
  } */

.progress-bar{
    height: 100%;
    border-radius: 5px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#febbbb+0,fe9090+52,ff5c5c+100;Red+3D+%231 */
    background: #000000;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fff6a3 0%, #fff194 52%, #ffdd00 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fff069 0%, #fff194  52%, #ffdd00 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fff069 0%, #ffe640  52%, #ffdd00 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#febbbb', endColorstr='#ff5c5c', GradientType=0);
}

.horizon_line{
    width: 500px;
    color:#1c1c1c;
    border-bottom:0px;
    text-align:center;
    margin:0 auto;
}

/* .horizon_line2{
    width: 20px;
    height:30px;
    color:#0a1950;
    border-bottom:0px;
    text-align:center;
    margin:0 auto;
} */

.box{
    background-color:rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);;
    opacity: 0.8;
    color:rgb(0, 0, 0);
    border-style:solid;
    border-width: 2px 4px;
    border-radius: 10px;
    text-align: left;
    padding-left: 25px;
    padding-right:25px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 30px;
    margin: 10px;
    font-weight: 500;
}

.banner {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.banner-img {
    width: 300px;
    height: 405.17px;
}
.share{
    margin: 0 auto;
}

/* .explain_title{
    padding-top: 40px;
    padding-left: 15px;
} */

.horizon_line2{
    border-width: 4px;
    color:#1c1c1c;
    border-bottom:0px;
    text-align:center;
    margin:0 auto;
    width: 1000px;
}
.job{
    text-align: center;
}
.cj_button1{
    display :inline-block;
    margin-right: 5rem;
    border-radius: 4rem;
    background-color: #fff9aa;
    border: 0;
    outline: 0;
    font-weight: 700;
    padding: 1rem 2rem;
}
.cj_button1:active,
.cj_button1:hover,
.cj_button1:focus {
    background: var(--button-hover-bg-color);
    outline: 0;
    background-color: #ffee7f;
    border-color:none;
}
.cj_button1:disabled {
  opacity: 0.5;
}
.cj_button2{
    display :inline-block;
    margin-left: 10rem;
    border-radius: 4rem;
    background-color: #fff9aa;
    border: 0;
    outline: 0;
    font-weight: 700;
    padding: 1rem 2rem;
}
.cj_button2:active,
.cj_button2:hover,
.cj_button2:focus {
    background: var(--button-hover-bg-color);
    outline: 0;
    background-color: #ffee7f;
    border-color:none;
}
.cj_button2:disabled {
  opacity: 0.5;
}

@media (max-width:600px){ /*가로 너비가 600px 이하일 때 아래 스타일 적용*/
    
    
    .body {
        display: block;
    }
    .body.sidebar {
        min-height: 0;
    }
    .body.contents {  
        margin-bottom: 10px; 
        margin-right: 0px;
    }
    #imgs{
        width: 200px;
        height: 300px;
        padding-top: 40px;
        margin:0 auto;
    }
    .cj_button1{
        display :inline-block;
        margin-right: 1rem;
        border-radius: 2rem;
        background-color: #fff9aa;
        border: 0;
        outline: 0;
        font-weight: 700;
        padding: 1rem 2rem;
    }
    .cj_button1:active,
    .cj_button1:hover,
    .cj_button1:focus {
        background: var(--button-hover-bg-color);
        outline: 0;
        background-color: #ffee7f;
        border-color:none;
    }
    .cj_button1:disabled {
      opacity: 0.5;
    }
    .cj_button2{
        display :inline-block;
        margin-left: 2rem;
        border-radius: 4rem;
        background-color: #fff9aa;
        border: 0;
        outline: 0;
        font-weight: 700;
        padding: 1rem 2rem;
    }
    .cj_button2:active,
    .cj_button2:hover,
    .cj_button2:focus {
        background: var(--button-hover-bg-color);
        outline: 0;
        background-color: #ffee7f;
        border-color:none;
    }
    .cj_button2:disabled {
      opacity: 0.5;
    }
}